.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(#03469a 0%, #080b1a 100%);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a3cccc;
  border: #a3cccc 2px solid;
  border-right: none;
  border-left: none;
  border-top: none;
}

.sl {
  display: flex;
  width: 150px;
  height: max-content;
  border-radius: 20%;
}

.signup {
  padding: 10px;
  background-color: #a3cccc;
  border-radius: 50px 0 0 50px;
  color: #061439;
}

.login {
  padding: 10px;
  background-color: #061439;
  border-radius: 0 50px 50px 0;
}

h1 {
  margin: 0;
}

.Menu-button {
  height: max-content;
  background: none;
  border: none;
}

.logo {
  width: max-content;
  height: max-content;
  border-radius: 100%;
  overflow: hidden;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.body-logo {
  width: 500px;
}